<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<%= render 'books/newform', book: @book_new %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
			<tbody>
				<tr>
					<td>
						<%= link_to (@book.user) do %>
							<%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
							<%= @book.user.name %>
						<% end %>
					</td>
					<td><%= link_to @book.title, @book %></td>
					<td><%= @book.body %></td>
					<td>
					<div id="favorites_buttons_<%= @book.id %>">
						<%= render partial: 'books/favorite', locals: { book: @book} %>
					</div>
					</td>
					<td>コメント数: <%= @book.book_comments.count %></td>
					<% if @book.user_id == current_user.id%>
						<td><%= link_to "Edit",edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
						<td><%= link_to "Destroy", @book, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
					<% end %>
				</tr>
			</tbody>
		</table>

		<!-- コメント投稿 -->

			<div id="comment-text">
				<%= render partial: 'book_comments/comment', locals: {comments: @comments} %>
			</div>


		<div class="comment-create">
			<%= form_with(model: [@book, @book_comment], remote: true, method: :post,) do |f| %>
			<%= f.text_area :comment, size: "80×10" %>
			<%= f.submit '送信' %>
			<% end %>
		</div>
	</div>
</div>
